<strong>Olá, {{ student }}</strong>
<p>Sua solicitação foi respondida: <br />
  {{ question }}
  <br />
</p>
<p>
  <strong>Resposta: </strong> <br />
  {{ answer }}
  <br />
</p>
<p>
  <strong>Data da Resposta: </strong> {{ answerAt }} <br />
</p>
