<strong>Bem vindo, {{ student }}</strong>
<p>Sua matricula foi realizada com sucesso:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Data de término</strong> {{ endDate }} <br />
  <strong>Valor</strong> {{ price }} <br />
  <br />
</p>
